.navbar{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

.navbar_left .navbar_image img{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 43px;
}

.navbar_left{
    display: flex;
    align-items: center;
}

.navbar_left input{
    width: 331px;
    padding:16px;
    border: 1px solid var(--input-border);
    border-radius: 100px;
}

.navbar_right{
    display: flex;
    align-items: center;
}

.navbar_location_pin{
    display: flex;
    margin-right: 38px;
    align-items: center;
}

.navbar_location_pin img{
    margin-right: 12px;
}

.navbar_menu ul{
    display: flex;
    gap:38px;
}

.navbar_searchbar {
    position: relative;
    width: 100%;
}

.input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

input[type="text"] {
    width: 341px;
    padding-left: 40px; /* Adjust padding to fit the icon */
    box-sizing: border-box; /* Ensure padding is included in the total width */
}

.search_icon {
    position: absolute;
    left: 10px; /* Adjust this value to position the icon within the input */
    pointer-events: none; /* Ensure the icon doesn't block input interactions */
    height: 20px; /* Adjust the icon size as needed */
    width: 20px;
}
